.footer{
    background-color: #6278F7;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer h3{
    color: #ffffff;
}
.footer .redesSociais{
    display: flex;
}

.footer .redesSociais img{
    margin: 0 15px;
}